* {
  /* border: 1px solid black; */
  padding: 0;
  margin: 0;
  box-sizing: border;
}
body {
  font-family: Roboto, sans-serif;
}

/* Color formatting */
.nav-bar,
.header button {
  background-color: rgb(25, 146, 212);
  color: white;
}

.main-body-container {
  background-color: rgb(226, 232, 240);
}

.nav-bar button {
  font-family: inherit;
  background-color: inherit;
  color: inherit;
}

.project {
  background-color: white;
  border-left: 5px solid rgb(240, 180, 41)
}

.announcements,
.trending {
  background-color:white;
}


.nav-bar ul button:active, 
.header ul button:active {
  background-color: rgb(17, 101, 146);
}

input[type="search"] {
  border: 3px solid rgb(185, 185, 185);
  background-color: rgb(185, 185, 185);
  border-radius: 15px;
  padding: 0px 10px;
}

input[type="search"]:focus {
  border-radius: 15px;
  outline:none;
}

.user-img {
  background-color: rgb(187, 187, 187);
}

.icon-block button {
  background-color: white;
}

/* Layout formatting */
ul {
  list-style-type: none;
}

button {
  outline: none;
  border: none;
  border-radius: 4px;
}

body {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 150px 1fr;
}

.icon {
  width: 25px;
  /* padding-left: 5px; */
}

.nav-bar>p img {
  width:40px;
}

.nav-bar {
  grid-row: 1/-1;
  display:grid;
  grid-auto-rows: max-content;
  gap: 75px;
  padding: 20px;
  button {
    display:grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    font-size: 1.5em;
    font-weight:700;
    padding: 5px 0px;
    >*:nth-child(2) {
      justify-self: left;
    }
    >*:nth-child(1) {
      justify-self: center;
    }
  }

  li {
    display: grid;
  }

  ul {
    display: grid;
  }

  > p {
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    font-size: 2em;
    font-weight: 700;
  }
}

.header {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 1fr 1fr;
  padding: 10px 50px;
}

.header .search-button,
.header .search-button:active,
.header .notification-button,
.icon-block button {
  background-color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 5px;
}

.header .search-button:active,
.header .notification-button:active,
.icon-block button:active {
  background-color: rgb(184, 184, 184);
}

.main-body-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 20px;
  gap: 20px;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.search-container {
  display: grid;
  grid-template-columns: 50px .5fr;
  align-items: center;
}

input[type="search"] {
  font-family: inherit;
  font-size: 1.2em;
}

.user-img {
  padding: 5px;
  border-radius: 50%;
}

.user-img {
  width: 25px;
  height: 25px;
}

.welcome-img {
  width: 50px;
  height: 50px;
  grid-row: 1/-1
}

.user-bar {
  display: grid;
  align-items: center;
  grid-template-columns: 50px 50px 1fr;
}

.user-bar > p {
  font-size: 1.2em;
  font-weight: 700;
}

.welcome {
  display: grid;
  grid-template-columns: 75px 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  font-weight: 700;
  
  p:first-of-type {
    font-size: 0.9em;
  }

  p:last-of-type {
    font-size: 1.75em;
  }
}

.header ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.header ul>li {
  display: inline-block;
}

.header ul button {
  font-size: 1.2em;
  padding: 10px;
  font-weight: 700;
  border-radius: 25px;
  width: 150px;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.project {
  padding: 30px;
  border-radius: 10px;
  display:grid;
  grid-template-rows: 1fr 40px;
}

.project *:nth-child(3) {
  justify-self: right;
}

.main-body-container h1 {
  margin-bottom: 5px;
}

.icon-block button {
  background-color: white;
}

.main-body-sidebar-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

